body{
  margin: 0px;
  padding: 0px;
  font-family: Inter;
}
header{
  background-color: #BE0000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 80px 0px;
}
header div{
  height: 80px;
  width: 80px;
  overflow: hidden;
}
header div img{
  width: 100%;
  height: 100%;
}
header ul{
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  list-style: none;
}
header ul li:hover{
  color: gray;
  transform: scale(1.2);
  transition-duration: 0.5s;
  cursor: pointer;
} 
main{
  background-color: #BE0000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 650px;
}
main h1:first-child{
  font-size: 5rem;
  margin: 20px 0px 30px 0px;
}
main button{
  border:none;
  color:white;
  background-color: #BE0000;
  width: 130px;
  height: 50px;
  font-size: 20px;
  font-family: Inter;
  border-radius: 10px;
  border :2px solid white;
  margin: 50px 0px;
}
main button::after{
  content: ' >';
  font-family: Inter;
  font-size: 20px;
}
main button:hover{
  border: none;
  background-color: white;
  color: #BE0000;
  cursor: pointer;
}
main h1:first-child::after{
  content: "/>";
  margin-left: 10px;
  font-size: 6rem;
  animation-name: showafter;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
main h1:first-child::before{
  content: "<";
  margin-right: 10px;
  font-size: 6rem;
  animation-name: showbefore;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes showbefore {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes showafter {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}