body{
  margin: 0px;
  padding: 0px;
  font-family: Inter;
}
header{
  background-color: #BE0000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 100px;
}
header div{
  height: 50px;
  width: 50px;
  background-color: white;
}
header ul{
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  list-style: none;
}
header ul li:hover{
  color: gray;
  transform: scale(1.2);
  transition-duration: 0.5s;
} 
main{
  background-image: url(/public/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
}
