body{
  margin: 0px;
  padding: 0px;
  font-family: Inter;
}
.fadeIn {
  opacity: 0;
  animation: fadeInApp 3s  forwards;
}
@keyframes fadeInApp {
  to {
    opacity: 1;
  }
}
.preloaderContainer{
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.preloaderLogoContainer{
  height:0px;
  width: fit-content;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
  perspective: 1000px;  
  animation: scaleup 3s linear;
}
.preloaderLogo{
  height: 100%;
  width: 100%;
  transform-origin: center;
  animation: flip 1s 2  linear;
}
.loaderContainer{
  height: 0.5%;
  width: 50%;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  position: relative;
}
.loading{
  height: 100%;
  width: 0%;
  background-color: #bf1616;
  animation: load 2s forwards;
}
.pen {
  transform: translate(-38%,-30%);
  height: 50px; 
  filter: invert();
  animation: penMove 2s forwards; 
}
@keyframes penMove {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
@keyframes scaleup {
  0% {
    height: 0px;
  }
  15%{
    height: 250px;
  }
  85%{
    height: 250px;
  }
  100%{
    height: 0px;
  }
}
@keyframes load {
  0% {
    width: 0;
  }
  100%{
    width: 100%;
  }
}
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
header{
  background-color: #bf1616;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0px 80px;
}
header div{
  height: 100px;
  width:fit-content;
  overflow: hidden;
}
header div img{
  width: 100%;
  height: 100%;
}
header ul{
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  list-style: none;
}
header ul li:hover{
  color: gray;
  transform: scale(1.2);
  transition-duration: 0.5s;
  cursor: pointer;
} 
.home-intro{
  background-color: #bf1616;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 650px;
}
.home-intro h1{
  font-size: 5rem;
  overflow: hidden; 
  border-right: .15em solid rgb(255, 255, 255); 
  white-space: nowrap;
  margin: 0 auto; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 65% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255); }
}
.home-intro h4 {
  font-size: 2rem;
}
.home-intro h5 {
  font-size: 1rem;
}
.home-intro button{
  border:none;
  color:white;
  background-color: #bf1616;
  width: 150px;
  height: 60px;
  font-size: 25px;
  font-family: Inter;
  border-radius: 10px;
  border :2px solid white;
  margin: 50px 0px;
}
.home-intro button::after{
  content: ' >';
  font-family: Inter;
  font-size: 25px;
}
.home-intro button:hover{
  border: none;
  background-color: white;
  color: #bf1616;
  cursor: pointer;
}