body{
  margin: 0px;
  padding: 0px;
  font-family: Inter;
  background-color: #bf1616;
}
.fadeIn {
  opacity: 0;
  animation: fadeInApp 3s  forwards;
}
@keyframes fadeInApp {
  to {
    opacity: 1;
  }
}
.preloaderContainer{
  background-color: #bf1616;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.preloaderLogoContainer{
  height:0px;
  width: fit-content;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
  perspective: 1000px;  
  animation: scaleup 3s linear;
}
.preloaderLogo{
  height: 100%;
  width: 100%;
  transform-origin: center;
  animation: flip 1s 2  linear;
}
.loaderContainer{
  height: 0.5%;
  width: 50%;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  position: relative;
}
.loading{
  height: 100%;
  width: 0%;
  background-color: #ffffff;
  animation: load 2s forwards;
}
.pen {
  transform: translate(-38%,-30%);
  height: 50px; 
  animation: penMove 2s forwards; 
}
@keyframes penMove {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
@keyframes scaleup {
  0% {
    height: 0px;
  }
  15%{
    height: 250px;
  }
  85%{
    height: 250px;
  }
  100%{
    height: 0px;
  }
}
@keyframes load {
  0% {
    width: 0;
  }
  100%{
    width: 100%;
  }
}
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
header{
  background-color: #bf1616;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0px 80px;
}
header div{
  height: 100px;
  width:fit-content;
  overflow: hidden;
  cursor: pointer;
}
header div:hover{
  transform: scale(1.2);
  transition-duration: 1s;
}
header div img{
  width: 100%;
  height: 100%;
}
header ul{
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  list-style: none;
}
header ul li:hover{
  color: rgb(0, 0, 0);
  transform: scale(1.2);
  transition-duration: 0.5s;
  cursor: pointer;
} 
.home-intro{
  background-color: #bf1616;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 650px;
}
.home-intro h1{
  font-size: 5rem;
  overflow: hidden; 
  border-right: .15em solid rgb(255, 255, 255); 
  white-space: nowrap;
  margin: 0 auto; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 65% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255); }
}
.home-intro h4 {
  font-size: 2rem;
}
.home-intro h5 {
  font-size: 1rem;
}
.home-intro button{
  border:none;
  color:white;
  background-color: #bf1616;
  width: 150px;
  height: 60px;
  font-size: 25px;
  font-family: Inter;
  border-radius: 10px;
  border :2px solid white;
  margin: 50px 0px;
}
.home-intro button::after{
  content: ' >';
  font-family: Inter;
  font-size: 25px;
}
.home-intro button:hover{
  border: none;
  background-color: white;
  color: #bf1616;
  transform: scale(1.1);
  transition-duration: 1s;
  cursor: pointer;
}
.home-about{
  background-color: #ffffff;
  padding: 100px 100px 50px;
}
.home-about h1{
    margin: 0px;
    font-size: 2.5rem;
}
.home-about article{
  display: flex;
}
.home-about article img{
  width: 350px;
  margin: 0px 100px;
  border-radius: 10px;
}
.home-about article p{
  width: 60%;
  font-size: 1rem;
  align-self: center;
}
.scheme-more{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 50px 100px 100px;
}
.scheme-more h1{
  font-size: 2.5rem;
}
.scheme{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0px 150px;
}
.scheme .buttons button{
  border-radius: 10px;
  border: 2px solid #bf1616;
  color: #bf1616; 
  width: 150px;
  height: fit-content;
  display: flex;
  padding: 15px 10px;
  margin: 50px 0px 25px;
  cursor: pointer;
}
.scheme .buttons{
  display: flex;
  flex-direction: column;
}
.scheme .buttons button:hover{
  border: 2px solid #ffffff;
  color: #ffffff; 
  background-color: #bf1616;
  transition-duration: 1s;
  transform: scale(1.1);
}
.scheme .buttons button div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  font-family: Inter;
  font-size: 1rem;
}
.scheme .buttons button::after{
  content: ">";
  font-size: 2rem;
}
.scheme img{
  width: 300px;
  border-radius: 10px;
}
.more{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.more div img{
  margin: 10px;
  width: 240px;
  height: 260px;
  border-radius: 10px;
}
.more div{
  width: 260px;
  margin: 50px 0px;
  cursor: pointer;
}
.more div p{
  margin: 0px 10px;
  font-size: 1rem;
}
footer{
  display: flex;
  flex-direction: column;
  background-color: #373737 ;
  color: #ffffff;
}
.footerContent{
  padding: 20px 100px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerContent img{
  width:100px;
  transition-duration: 1s;
  cursor: pointer;
}
.footerContent img:hover{
  transform: scale(1.2)
}
.social-copyright{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.socials{
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0px 10px;
}
.socials i{
  cursor: pointer;
  transition-duration: 1s;
}
.socials i:hover{
  transform: scale(1.5);
  color: black;
}
footer hr{
  width: 50%;
  color: #ffffff;
  z-index: 10;
}
.footerContent ul{
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  list-style: none;
}
.footerContent ul li:hover{
  transform: scale(1.2);
  transition-duration: 0.5s;
  cursor: pointer;
} 